<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2f32cb17-5a51-4a2b-8a56-1493d296e1b8" Publisher="CN=Raymond" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Magic8Ball</DisplayName>
    <PublisherDisplayName>Raymond</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Magic8Ball.App">
      <VisualElements DisplayName="Magic8Ball" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Magic8Ball" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>